@{
    ViewData["Title"] = "Home Page";
}
<div class="">Fie ca doresi sa inchiriezi un automobil pentru o perioada de timp fie ca doresti sa iti oferi masina personala spre inchiriere acum ai posibilitarea folosind aplicatia noastra. Inregistreaza-te acum sau creeaza un cont nou in functie de nevoile tale.</div>


<div class="d-md-flex h-75 align-items-center">


    <div class="col-md-6 p-0  h-100" style="background-color: beige ; ">
        <div class="text-dark d-md-flex align-items-center h-100 p-5 text-center justify-content-center">

            <div class=" pt-5 pb-5">
                <h5>Doresc sa inchiriez</h5>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterConsumator">Creeaza un cont nou</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LoginConsumator">Inregistreaza-te folosind un cont existent</a>
            </div>
        </div>
    </div>


    <div class="col-md-6 p-0  h-100" style="background-color: aliceblue;">
        <div class="text-dark d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class=" pt-5 pb-5">
                <h5>Doresc sa imi ofer masina spre inchiriere</h5>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterFurnizor">Creeaza un cont nou</a>
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LoginFurnizor">Inregistreaza-te folosind un cont existent</a>
            </div>
        </div>
    </div>

</div>


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterConsumator">Register Consumator</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterFurnizor">Register Furnizor</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterConsumator">Register Consumator</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LoginFurnizor">Login Furnizor</a>
    </div>*@
